<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-light bg-faded colorPalets" >
 		<div class="container-fluid">
    		<div class="navbar-header">
      			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        			<span class="sr-only">Toggle navigation</span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
      			</button>
      			<a class="navbar-brand navTitle" href="index2.html">SigPPG</a>
    		</div>
    		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      			<ul class="nav navbar-nav">
              <li><a href="listaaluno2.html" class="navText">Listar Alunos</a></li>
        			<li><a href="listaavaliador.html" class="navText">Atribuir Permissão</a></li>
        			<li class="dropdown">
          				<a href="#" class="dropdown-toggle navText" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastro<span class="caret"></span></a>
          				<ul class="dropdown-menu">
            				<li><a href="#>Avaliador</a></li>
            				<li role="separator" class="divider"><a href="#">Aluno</a></li>
            				<li role="separator" class="divider"><a href="#">Bolsa</a></li>
          				</ul>
        			</li>
      			</ul>
              <p class="navbar-text navbar-right navText2">Signed in as <a href="index.html" class="navbar-link">Eduardo Almeida</a></p>
    		</div>
  		</div>
	</nav>
  <header>
  </header>
  <section>
  </section>
	 <footer class="footer colorPalets">
      <div class="container">
        <p class="text-muted textFooter fixed-bottom">Universidade Federal da Bahia</p>
      </div>
    </footer>
	
</body>
</html>